#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
}

body {
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .conteiner {
  width: 450px;
} */
